<html>
    <body>
        <form action = "http://127.0.0.1:8080/choose" method = "POST">
            <input type="radio" id="0" name="img" value="{{ res0 }}">
            <label for="0">0</label>
            <img src="{{ res0 }}"><br>
            <input type="radio" id="1" name="img" value="{{ res1 }}">
            <label for="1">1</label>
            <img src="{{ res1 }}"><br>
            <input type="radio" id="2" name="img" value="{{ res2 }}">
            <label for="2">2</label>
            <img src="{{ res2 }}"><br>
            <input type="radio" id="3" name="img" value="{{ res3 }}">
            <label for="3">3</label>
            <img src="{{ res3 }}"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>